$main: #555;

@import "./node_modules/bootstrap-scss/bootstrap.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  #root {
    color: $main;
  }
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}