$main: #555;

$fa-font-path: "/fonts/fontawesome-free/webfonts";

@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
// @import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
// @import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import "./node_modules/bootstrap-scss/bootstrap.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  #root {
    color: $main;
  }
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-display {
  padding: 3px;
}

.progress-bar-full {
  width: 100%
}

.highlight {
  background-color: #ffff5a;
}


html, body {
	height: 100%;
	padding: 0;
}

html {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media screen and (max-width: 70em) {
		font-size: ( 10 / 16 ) * 1rem;
	}
}

a{
	color: #555;
	text-decoration: none;
}
a:hover{ color: #888; }


p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	font-weight: 700;
	line-height: 1.2;
}

h1 {
	margin-top: 0;
	font-size: 6.853em;
}


section{
	position: relative;
	padding: 2.618em 0;
	text-align: center;
	text-shadow: -2px 1px rgba(black, 0.1);
	&:after{
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 1.75ex;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 3.5px;
		white-space: nowrap;
	}
	.bold{
		display: inline-block;
		font-weight: normal;
		color: darken(#2A2C39, 10);
		will-change: transform;
		// transition: .2s;
	}
}
